{% extends 'base.html'%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{% endblock %}
{% block title %} pitches {% endblock %}
{% block content %}
<div class="container" id="p">
    <div class="row">
        <div class="col-sm-12">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add A Pitch
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add A Pitch</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <select class="form-select" name="catselect" aria-label="categories">
                                    <option selected>Choose a category</option>
                                    <option value="1">Health</option>
                                    <option value="2">Science</option>
                                    <option value="3">Technology</option>
                                    <option value="4">Education</option>
                                    <option value="5">Life</option>
                                </select>
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="mb-3">
                                    <label for="pitch" class="form-label">Pitch</label>
                                    <textarea class="form-control" id="pitch" name="pitch" rows="3"></textarea>
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Add Pitch</button>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for pitch in pitches %}
                <div class="card" style="width: 15rem;margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{pitch.title}}</h5>
                        <p class="card-text">{{pitch.content}}</p>
                        <a href="/pitch/{{pitch.id}}" class="btn btn-primary">Explore</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}